body {
    overflow: hidden; /* Hide scrollbars */
  }
.backroundimage {
    width: 50%;
}
.background-triangle{
    display: block;
    position: absolute;
    overflow: hidden;
    top: 0px;
    right: 0px;
    width: 0px;
    height: 0px;
    border-left: 100vh solid transparent;
    border-right: 80vh solid transparent;
    
    border-top: 160vh solid #f00;
    transform-origin: top right;
    transform: rotate(-45deg);
}