* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    overflow-x: hidden;
    width: 100vw;
}
html {
    scroll-behavior: smooth;
}

section {
    width: 100vw;
    height: 100vh;
}

section .main{
    display:flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: -100px;

}
section .main .men_text h1{
font-size: 3.8rem;
position: relative;
left:20px;
color:#5C6E68;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
section .main .men_text h1 span{
    margin-left: 15px;
    color:#FFA500;
    font-family: mv boli;
    line-height: 22px;
    font-size: 70px;
}
section .main .main_image img{
    width: 100%;
    position: relative;
    margin-top: 115px;
    right: 0px;
}
section p {
    position: absolute;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color:#5C6E68;
    text-align: center;
    position: relative;
    line-height: 22px;
    top: -18vh;

}

section .main_btn{
    background: #FFA500;
    position: relative;
    left:100px;
    bottom: 200px;
    width: 130px;
    cursor: pointer;
    padding: 12px 20px;
}

 section .main_btn a{
    color:#fff;
    margin-right: 0px;
    text-decoration: none;
 }
section .main_btn i{
    color:#fff;
    transition: 0.3s;
}
section .main_btn:hover i{
    transform: translateX(7px);
}

@media (max-width: 480px) {
    section .main{
        display:flex;
        flex-wrap: wrap;
        top: 170px;
    }
    section .main .main_image img{
        width: 100%;
        position: relative;
        margin-top: 0;
        right: 0px;
    }

    section p {
        position: relative;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 700;
        font-size: 2rem;
        color:#5C6E68;
        text-align: center;
        position: relative;
        line-height: 40px;
        top: 200px;
    
    }

    section .main_btn{
        background: #FFA500;
        position: relative;
        left:50%;
        transform:  translate(-50%);
        bottom: -300px;
        width: 130px;
        cursor: pointer;
        padding: 12px 20px;
        margin-bottom: 20px;
    }
} 